/target/
*.epub
*.html
*.log
.DS_Store

*.classpath
*.js
*.arff


*.png
*.class
*.pyc
*.txt
*.css
*.htm
Text

Final_Booklist.numbers


*.pyc

*.vscode

*.zip
*.pkl
*.tar.gz
*.gz
/Features_extracted_milestone4.csv
