/target/
*.epub
*.html
*.log
.DS_Store
*.class

*.classpath
*.js
*.arff


*.png
*.class
*.pyc
*.txt
*.css
*.htm
Text

Final_Booklist.numbers

*.ipynb_checkpoints
*.pyc
*.json
*.numbers
*.vscode
*.csv
*.zip
*.pkl
*.tar.gz
*.xlsx
*.gz
/Features_extracted_milestone4.csv
